<h1>Task list</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Status</td>
      <td>Description</td>
      <td>Created at</td>
      <td class="text-right">Action</td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
        <tr>
            <td class="name"><%= task.name %></td>
            <td><%= task.status %></td>
            <td><%= task.description %></td>
            <td><%= task.created_at %></td>
            <td class="text-right">
              <% if task.status != 'resolved' %>
                <a class="btn btn-success btn-xs" href="/task/<%= task.id %>/resolve">Resolve</a>
              <% end %>
            </td>
        </tr>
    <% end %>
  </tbody>

</table>